@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 11px;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  background-color: #dce1e4;
}

.container {
  min-height: 60vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

p {
  color: black;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}

.section-title {
  font-size: 3rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

.section-title span {
  color: #11c911;
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: white;
  background-color: #11c911;
  border: 2px solid #11c911;
  border-radius: 30px;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
}

.cta:hover {
  color: #11c911;
  background-color: #dce1e4;
}

.brand h1 {
  font-size: 2.2rem;
  text-transform: uppercase;
  color: white;
}

.main h1 {
  font-size: 2.2rem;
  text-transform: uppercase;
  color: gray;
}

.brand h1 span {
  color: #11c911;
}

/* header section */
#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

#header .header {
  min-height: 8vh;
  -webkit-transition: 0.3s ease background-color;
  transition: 0.3s ease background-color;
}

#header .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 20px;
}

#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: #1f1e1e;
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  overflow-x: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.5s ease left;
  transition: 0.5s ease left;
}

#header .nav-list ul.active {
  left: 0;
}

#header .nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: gray;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}

#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 15rem;
  letter-spacing: 50px;
  z-index: -1;
  -webkit-transition: 0.3s ease letter-spacing;
  transition: 0.3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}

#header .nav-list ul li:hover a {
  color: #11c911;
}

#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid gray;
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
  cursor: pointer;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  margin-right: 0px;
}

#header .hamburger:after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid gray;
  -webkit-animation: hamburger_pulse 1s ease infinite;
          animation: hamburger_pulse 1s ease infinite;
}

#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: gray;
  z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: gray;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transition-property: top, bottom;
  transition-property: top, bottom;
}

#header .hamburger .bar::after {
  top: 8px;
}

#header .hamburger .bar::before {
  bottom: 8px;
}

#header .hamburger.active .bar::before {
  bottom: 0;
}

#header .hamburger.active .bar::after {
  top: 0;
}

/* end header section */
/*   Hero Section */
#hero {
  position: relative;
  z-index: 1;
}

#hero::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #dce1e4;
  opacity: 0.9;
  z-index: -1;
}

#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#hero h1 {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: transparent;
  -webkit-animation: text_reveal 0.5s ease forwards;
          animation: text_reveal 0.5s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#hero h1:nth-child(1) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#hero h1:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

#hero h1:nth-child(3) {
  -webkit-animation: text_reveal_name 0.5s forwards;
          animation: text_reveal_name 0.5s forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

#hero h1:nth-child(4) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

#hero h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #11c911;
  -webkit-animation: text_reveal_box 1s ease;
          animation: text_reveal_box 1s ease;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#hero h1:nth-child(1) span {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

#hero h1:nth-child(2) span {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

#hero h1:nth-child(4) span {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

/*   End Hero Section  */
/* service section */
#services .services {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

#services .service-top {
  max-width: 80%;
  margin: 0 auto;
}

#services .service-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

#services .service-item {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-image: url(../assets/537719.jpg);
  background-size: cover;
  margin: 10px 5px;
  position: relative;
  z-index: 1;
}

#services .service-item:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.85;
  z-index: -1;
  border-radius: 10px;
}

#services .service-bottom .icon {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}

#services .service-item h2 {
  font-size: 2rem;
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#services .service-item p {
  color: white;
  text-align: left;
  font-weight: 400;
}

#services .service-item i {
  color: white;
  font-size: 6rem;
}

#services .languages {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#services .languages .languages-top {
  max-width: 80%;
  margin: 0 auto;
}

#services .languages p {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

#services .languages-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#services .languages .languages-items {
  width: 80%;
  margin: 10px 10px;
}

#services .languages .language-item {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#services .languages .lan-name {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  text-transform: uppercase;
  color: #485563;
}

#services .languages .lan-rating {
  -webkit-box-flex: 19;
      -ms-flex: 19;
          flex: 19;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#services .languages i {
  font-size: 1.4rem;
}

#services .languages .fill {
  color: #29323c;
}

#services .languages .nofill {
  color: #aaaaaa;
}

/* End service section */
/* projects section */
#projects .projects {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

#projects .projects-header {
  margin: 20px auto;
  width: 80%;
}

#projects .projects-header h1 {
  margin-bottom: 20px;
}

#projects .projects-header p {
  text-align: center;
}

#projects .all-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#projects .projects-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}

#projects .project-info {
  padding: 30px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: white;
}

#projects .project-info h1 {
  font-size: 4rem;
  font-weight: 500;
}

#projects .project-info p.technologies {
  font-size: 4rem;
  font-weight: 200;
  margin-top: 20px;
}

#projects .project-info p.technologies i {
  margin-right: 15px;
}

#projects .project-info p {
  color: white;
  font-weight: 400;
  margin-top: 20px;
}

#projects .project-img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  /*height: 300px;*/
  width: 100%;
  overflow: hidden;
  position: relative;
}

#projects .project-img:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.4;
}

#projects .project-img img {
  -webkit-transition: 0.6s ease transform;
  transition: 0.6s ease transform;
}

#projects .projects-item:hover .project-img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#projects .projects-button-group {
  width: 80%;
}

#projects .projects-github {
  font-size: large;
}

/* End of projects section */
/* about section */
#about .about {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

#about .col-left {
  width: 250px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 30px;
}

#about .col-right {
  width: 80%;
  margin-top: 30px;
  height: 100%;
}

#about .col-right h2 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin: 5px 0 20px;
}

#about .col-right p {
  margin-bottom: 15px;
}

#about .col-right .cta {
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 2rem;
}

#about .col-right .cta:hover {
  color: #11c911;
}

#about .col-left .about-img {
  height: 100%;
  width: 100%;
  position: relative;
  border: 10px solid #dce1e4;
}

#about .col-left .about-img::after {
  content: '';
  position: absolute;
  left: -33px;
  top: 18px;
  height: 98%;
  width: 98%;
  border: 10px solid #11c911;
  z-index: -1;
}

/* End about section */
/*contact section */
#contact .contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

#contact .contact-items {
  width: 80%;
}

#contact .contact-item {
  width: 100%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 18px 0 #0000002c;
          box-shadow: 0px 0px 18px 0 #0000002c;
  -webkit-transition: 0.3s ease box-shadow;
  transition: 0.3s ease box-shadow;
}

#contact .contact-item .icon i {
  font-size: 3.5rem;
  color: #11c911;
}

#contact .contact-item:hover {
  -webkit-box-shadow: 0px 0px 5px 0 #0000002c;
          box-shadow: 0px 0px 5px 0 #0000002c;
}

#contact .icon {
  width: 70px;
  margin: 0 auto;
  margin-bottom: 10px;
}

#contact .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

#contact .contact-info h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}

#contact .contact-info h2 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500;
}

/* end contact section */
/* footer */
#footer {
  background: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .footer {
  min-height: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
}

#footer h2 {
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

#footer .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  margin-top: 30px;
}

#footer .social-item {
  height: 50px;
  width: 50px;
  margin: 0 5px;
}

#footer .social-item i {
  font-size: 2.5rem;
  color: white;
}

#footer p {
  color: white;
  font-size: 1.3rem;
}

/* footer end */
/* Keyframes */
@-webkit-keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@-webkit-keyframes text_reveal {
  100% {
    color: white;
  }
}

@keyframes text_reveal {
  100% {
    color: white;
  }
}

@-webkit-keyframes text_reveal_name {
  100% {
    color: #11c911;
    font-weight: 500;
  }
}

@keyframes text_reveal_name {
  100% {
    color: #11c911;
    font-weight: 500;
  }
}

@-webkit-keyframes hamburger_pulse {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@keyframes hamburger_pulse {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

/* End keyframes */
/* media query for tablet */
@media only screen and (min-width: 768px) {
  .cta {
    font-size: 2.5rem;
  }
  .container {
    min-height: 60vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  h1.section-title {
    font-size: 3rem;
  }
  /* hero */
  #hero h1 {
    font-size: 7rem;
  }
  /* end hero */
  /* services */
  #services .service-bottom .service-item {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    margin: 2.5%;
  }
  #services .service-top {
    width: 500px;
  }
  #services .service-bottom {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #services .languages-wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #services .languages .languages-items {
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
  }
  /* end services */
  /* projects */
  #projects .projects-header {
    width: 500px;
  }
  #projects .projects-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #projects .projects-item:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  #projects .projects-item {
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  #projects .all-projects .project-info {
    height: 100%;
  }
  #projects .all-projects .project-img {
    height: 100%;
  }
  #projects .projects-button-group {
    width: 100%;
    margin-top: 15px;
  }
  #projects .projects-button-group {
    padding-left: 25px;
  }
  /* end projects */
  /* about */
  #about .about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #about .col-left {
    width: 600px;
    height: 400px;
    padding-left: 60px;
  }
  #about .about .col-left .about-img::after {
    left: -45px;
    top: 34px;
    height: 98%;
    width: 98%;
    border: 10px solid #11c911;
  }
  #about .col-right {
    text-align: left;
    padding: 30px;
    width: 100%;
  }
  #about .col-right h1 {
    text-align: left;
  }
  /* end about */
  #property .details {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #property .distinct-details {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 30px 10px 10px 0;
  }
  #property .desc-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 30px 0px 10px 10px;
  }
  #property .det-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0;
    padding: 0 0 30px 0;
  }
  #property .det-title {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  #property .det-wrapper p:nth-child(2) {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
  #property .row {
    display: table;
  }
  #property .row:after {
    content: '';
    display: table;
    clear: both;
  }
  /* contact */
  #contact .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 100px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 20vh;
  }
  #contact .contact-items {
    width: 100%;
  }
  #contact .contact-item {
    width: 90%;
  }
  /* end contact */
}

/* end media query for tablet */
/* media query for desktop */
@media only screen and (min-width: 1200px) {
  .container {
    min-height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-title {
    font-size: 6rem;
  }
  #header .hamburger {
    display: none;
  }
  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: transparent;
  }
  #header .nav-list ul li {
    display: inline-block;
  }
  #header .nav-list ul a:after {
    display: none;
  }
  #services .service-bottom .service-item {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    margin: 1%;
  }
  #services .languages .languages-items {
    width: 50%;
    padding: 0 20px;
    margin: 0;
  }
  #contact .contact-items {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
    margin: 0;
  }
  #contact .contact-item {
    width: 100%;
    margin: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* end media query for desktop */
p.mines {
  color: saddlebrown;
}
/*# sourceMappingURL=style.css.map */